@model EFBlueMedicalWebApp.Models.FixedAssets

@{
    ViewData["Title"] = "Create";
}

<h1>Agrear Activo</h1>

<h4>Activos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssetName" class="control-label"></label>
                <input asp-for="AssetName" class="form-control" />
                <span asp-validation-for="AssetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label"></label>
                <select asp-for="DepartmentID" class ="form-control" asp-items="ViewBag.DepartmentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="UsefulLife" class="control-label"></label>
                <input asp-for="UsefulLife" class="form-control" />
                <span asp-validation-for="UsefulLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a Activos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
